/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --color-light: #fefefe;
  --color-dark: #111;
}

.grid-2{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-light);
  color: var(--color-dark);
}

.profile-pic {
  border-radius: 50%;
  width: 250px;
}

h2,.white{
  color: var(--color-dark);
}

a{
  color: #004de7;
  text-decoration: none;
}
/* section 1 */
.section-1{
  padding-top: 40vh;
  text-align: center;
}

.section-1 p{
  font-size: 1.1rem;
  padding-bottom: 10px;
  margin:0;
}

.section-1 h2 {
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.exp {
  margin-bottom: 2rem;
}
.section-1 a{
  font-size: 1.5rem;
  padding: 10px;
}
/* section 2 */
.section-2{
  padding-top: 10vh;
  width: 70%;
}

.section-2 h2{
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.section-2 p{
  font-size: 1.1rem;
  padding-bottom: 10px;
  margin:0;
}

.section-2 a{
  padding: 5px;
  font-size: 1.2rem;
  padding-left: 0;
}
/* animations / utilities */
.section-2 a:hover{
  font-size: 1.3rem;
  color: var(--color-dark);
  cursor: pointer;
  transition: 0.2s;
}

.section-1 a:hover{
  color: var(--color-dark);
  cursor: pointer;
  transition: 0.3s;
}

.white:hover{
  position: relative;
  padding-left: 10px;
}

/* media queres */
@media(max-width:780px){
  .grid-2{
    grid-template-columns: 1fr;
  }
  .section-1{
    padding:0;
    padding-top: 5rem;
  }
  .section-2{
    padding: 0;
    padding-left: 1.5rem;
    padding-top: 2rem;
  }
}

@media (prefers-color-scheme:dark) {
  :root {
    --color-light: #111;
    --color-dark: #fefefe
  }
}