---
layout: base.njk
title: Resume of Gurpreet Singh
keywords: gurpreet, gurpreet singh from frankfurt, gurpreet singh frankfurt, gurpreet singh germany, senior manager front-end, interactive, developer, sapient, cv, experience technology, publicis sapient
description: Gurpreet Singh, Senior Manager Experience Engineering from Publicis Sapient
---
