<section>
  <h3 class="font-header font-semibold text-md uppercase mb-6">About</h3>
  <div class="pb-8">
    <p class="mb-4">Hey there, I'm Gurpreet Singh – the mind behind the <a href="https://www.learnwithgurpreet.com" class="link">learnwithgurpreet.com</a> tech blog and an integral part of the tech landscape in Germany. Over the past three years, I've poured my energy into sharing insights and knowledge through my blog, aiming to make technology accessible and exciting for everyone.</p>
    <p class="mb-4">In my professional life, I'm proud to contribute to the innovative world of technology at Publicis Sapient. Based in Germany, I work passionately on transforming businesses into digital powerhouses. Sustainability in the web is not just a buzzword for me; it's a genuine commitment. I believe in leveraging technology responsibly to create a digital landscape that not only thrives but also contributes to a greener and more sustainable future.</p>
    <p>My focus is on full-stack projects where I lead front-end teams, bringing my vision to life in an agile environment. I firmly believe in the power of agile methodologies, ensuring that our projects are not only cutting-edge but also adaptable to the rapid changes in the digital realm.</p>
  </div>
</section>