<section>
  <h3 class="font-header font-semibold text-md uppercase mb-6">Recent Projects</h3>
  <div
    class="border-t-4 border-t-husky-400 dark:border-t-husky-600 border-line relative flex flex-wrap highlight p-4 lg:p-8 bg-no-repeat text-sm mb-6">
    <div class="lg:flex-1">
      <h4 class="font-bold">Travel</h4>
      <p class="w-full py-4">
        One of the busiest airport in the world was seeking to up their game in
        the digital space. Starting with the revamp of their main web app, the ultimate vision was to bring everything
        in terms of their loyalty program, retail, flights and marketing platform together.
        To cope up with the estimated scale AEM was chosen as the content manager and a micro-frontend architecture was
        built for future sustainability and agility. The cloud solution was AWS. My role on the project was of an
        architect. Front-end technology stack comprised of React / Redux based solution while using tools like saga,
        reselect, css modules. Test cases were written using Jest. Vanilla JS was also used in some cases.
      </p>
      <h5 class="font-semibold">ROLE</h5>
      <ul class="py-4 pr-2 pl-4">
        <li class="list-disc">Lead the project from a Front-end development standpoint.</li>
        <li class="list-disc">Lead the project from a Front-end development standpoint.</li>
      </ul>
      <ul class="pr-2">
        <li
          class="inline-block px-3 py-1 mr-1 mt-1 font-medium text-xs rounded-lg border border-husky-400 dark:border-husky-600">
          <span class="inline-block w-2 h-2 rounded-full mr-2 bg-green-500"></span>Status: live
        </li>
        <li
          class="inline-block px-3 py-1 mr-1 mt-1 font-medium text-xs rounded-lg border border-husky-400 dark:border-husky-600">
          Micro Frontends
        </li>
        <li
          class="inline-block px-3 py-1 mr-1 mt-1 font-medium text-xs rounded-lg border border-husky-400 dark:border-husky-600">
          React / Redux
        </li>
        <li
          class="inline-block px-3 py-1 mr-1 mt-1 font-medium text-xs rounded-lg border border-husky-400 dark:border-husky-600">
          AWS</li>
        <li
          class="inline-block px-3 py-1 mr-1 mt-1 font-medium text-xs rounded-lg border border-husky-400 dark:border-husky-600">
          AEM</li>
      </ul><span class="absolute right-0 bottom-0 mb-5 mr-5 text-back"><svg stroke="currentColor" fill="currentColor"
          stroke-width="0" viewBox="0 0 496 512" class="w-6 h-6" height="1em" width="1em"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M225.38 233.37c-12.5 12.5-12.5 32.76 0 45.25 12.49 12.5 32.76 12.5 45.25 0 12.5-12.5 12.5-32.76 0-45.25-12.5-12.49-32.76-12.49-45.25 0zM248 8C111.03 8 0 119.03 0 256s111.03 248 248 248 248-111.03 248-248S384.97 8 248 8zm126.14 148.05L308.17 300.4a31.938 31.938 0 0 1-15.77 15.77l-144.34 65.97c-16.65 7.61-33.81-9.55-26.2-26.2l65.98-144.35a31.938 31.938 0 0 1 15.77-15.77l144.34-65.97c16.65-7.6 33.8 9.55 26.19 26.2z">
          </path>
        </svg></span>
    </div>
  </div>
</section>